
 .frame-1-8Uy {
    width: 99.9rem;
    height: 7.6rem;
    position: absolute;
    left: 22rem;
    top: 48.2rem;
    display: flex;
    column-gap: 1.6rem;
    align-items: center;
  }
  .frame-1-8Uy .input-369 {
    box-sizing: border-box;
    padding-bottom: 1.8rem;
    width: 20.8rem;
    height: 100%;
    flex-shrink: 0;
  }
   .frame-1-8Uy .input-369 .label-n3j {
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
    color: #3c3c3c;
    font-family: Rubik, 'Source Sans Pro';
    white-space: nowrap;
  }
  .frame-1-8Uy .input-369 .input-field-KJZ {
    box-sizing: border-box;
    padding: 0.9rem 1.2rem;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
    color: #999999;
    font-family: Rubik, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.1rem #cccccc;
    background-color: #ffffff;
    border-radius: 0.2rem;
  }
   .frame-1-8Uy .input-c2m {
    box-sizing: border-box;
    padding-bottom: 1.8rem;
    width: 20.8rem;
    height: 100%;
    flex-shrink: 0;
  }
   .frame-1-8Uy .input-c2m .label-jt5 {
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
    color: #3c3c3c;
    font-family: Rubik, 'Source Sans Pro';
    white-space: nowrap;
  }
  .frame-1-8Uy .input-c2m .input-field-H8u {
    box-sizing: border-box;
    padding: 0.9rem 1.65rem 0.9rem 1.2rem;
    width: 100%;
    height: 3.6rem;
    display: flex;
    align-items: center;
    border: solid 0.1rem #d0d0d0;
    background-color: #ffffff;
    border-radius: 0.2rem;
  }
  .frame-1-8Uy .input-c2m .input-field-H8u .auto-group-vnfb-CWm {
    margin-right: 4.45rem;
    width: 12.6rem;
    height: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #8a8a8a;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
   .frame-1-8Uy .input-c2m .input-field-H8u .fi-chevron-down-uRB {
    width: 0.9rem;
    height: 0.45rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .frame-1-8Uy .input-omT {
    box-sizing: border-box;
    padding-bottom: 1.8rem;
    width: 21.9rem;
    height: 100%;
    flex-shrink: 0;
  }
 .frame-1-8Uy .input-omT .label-9KX {
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
    color: #3c3c3c;
    font-family: Rubik, 'Source Sans Pro';
    white-space: nowrap;
  }
  .frame-1-8Uy .input-omT .input-field-V8V {
    box-sizing: border-box;
    padding: 0.9rem 1.65rem 0.9rem 1.2rem;
    width: 100%;
    height: 3.6rem;
    display: flex;
    align-items: center;
    border: solid 0.1rem #d0d0d0;
    background-color: #ffffff;
    border-radius: 0.2rem;
  }
  .frame-1-8Uy .input-omT .input-field-V8V .auto-group-jqhs-cU1 {
    margin-right: 3.25rem;
    width: 14.9rem;
    height: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #8a8a8a;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  .frame-1-8Uy .input-omT .input-field-V8V .fi-chevron-down-KNR {
    width: 0.9rem;
    height: 0.45rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .frame-1-8Uy .input-csK {
    box-sizing: border-box;
    padding-bottom: 1.8rem;
    width: 20.8rem;
    height: 100%;
    flex-shrink: 0;
  }
  .frame-1-8Uy .input-csK .label-ZXf {
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
    color: #3c3c3c;
    font-family: Rubik, 'Source Sans Pro';
    white-space: nowrap;
  }
  .frame-1-8Uy .input-csK .input-field-hds {
    box-sizing: border-box;
    padding: 0.9rem 1.65rem 0.9rem 1.2rem;
    width: 100%;
    height: 3.6rem;
    display: flex;
    align-items: center;
    border: solid 0.1rem #d0d0d0;
    background-color: #ffffff;
    border-radius: 0.2rem;
  }
 .frame-1-8Uy .input-csK .input-field-hds .auto-group-i7wh-RZs {
    margin-right: 13.25rem;
    width: 3.8rem;
    height: 100%;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5;
    color: #8a8a8a;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  .frame-1-8Uy .input-csK .input-field-hds .fi-chevron-down-wHK {
    width: 0.9rem;
    height: 0.45rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
 .frame-1-8Uy .button-35T {
    margin: 2.2rem 0rem 1.8rem 0rem;
    width: 9.2rem;
    height: calc(100% - 4rem);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #ffffff;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5cb85f;
    border-radius: 0.2rem;
    flex-shrink: 0;
  }
  