.footer-J1w {
    box-sizing: border-box;
    padding: 2.4rem 30.1rem 2.4rem 13.6rem;
    width: 144rem;
    height: 25.1rem;
    position: absolute;
    left: 0;
    top: 297.4rem;
    display: flex;
    align-items: flex-start;
  }
  .footer-J1w .address-Apq {
    margin-right: 12.7rem;
    row-gap: 1.6rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
  .footer-J1w .address-Apq .jalan-suroyo-no-161-mayangan-kota-probolonggo-672000-WNu {
    max-width: 22.7rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    flex-shrink: 0;
  }
  .footer-J1w .address-Apq .binarcarrentalgmailcom-nLR {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .footer-J1w .address-Apq .item-081-233-334-808-JpZ {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .footer-J1w .navigation-d69 {
    margin-right: 9.3rem;
    row-gap: 1.6rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
  .footer-J1w .navigation-d69 .our-services-Yyo {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .footer-J1w .navigation-d69 .why-us-t25 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .footer-J1w .navigation-d69 .testimonial-pRX {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .footer-J1w .navigation-d69 .faq-k4H {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .footer-J1w .sosmed-gid {
    margin-right: 13rem;
    width: 22.4rem;
    flex-shrink: 0;
  }
  .footer-J1w .sosmed-gid .connect-with-us-QuX {
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4285714286;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.footer-J1w .sosmed-gid .list-item-8Kj {
    width: 100%;
    display: flex;
    column-gap: 1.6rem;
    align-items: center;
  }
  .footer-J1w .sosmed-gid .list-item-8Kj .iconfacebook-FfF {
    width: 3.2rem;
    height: 3.2rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .footer-J1w .sosmed-gid .list-item-8Kj .iconinstagram-BYu {
    width: 3.2rem;
    height: 3.2rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .footer-J1w .sosmed-gid .list-item-8Kj .icontwitter-ioj {
    width: 3.2rem;
    height: 3.2rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .footer-J1w .sosmed-gid .list-item-8Kj .iconmail-U2D {
    width: 3.2rem;
    height: 3.2rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .footer-J1w .sosmed-gid .list-item-8Kj .icontwitch-1H3 {
    width: 3.2rem;
    height: 3.2rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .footer-J1w .copyright-LaD {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
  .footer-J1w .copyright-LaD .copyright-binar-2022-VT7 {
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
 .footer-J1w .copyright-LaD .rectangle-74-zPs {
    width: 10rem;
    height: 3.4rem;
    background-color: #0d28a6;
    flex-shrink: 0;
  }